body, html {
  height: 100%;
  min-height: 100%;
}

body {
  background: -webkit-linear-gradient(top, #f6f7fc 0%, #d5e1e8 40%);
  background: linear-gradient(to bottom, #f6f7fc 0%, #d5e1e8 40%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px);
          transform: perspective(800px);
}

.btn {
  text-decoration: none;
  color: #fff;
  background: #AEBEC7;
  font-size: 12px;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 75px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.poster {
  cursor: none;
  width: 300px;
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -160px;
  background: linear-gradient(rgba(0, 0, 0), rgb(19, 19, 19));
  border-radius: 250px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
  overflow: visible;
}
.poster .shine {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 256px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  z-index: 100;
}
.poster div[class*="layer-"] {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 0.1s;
          transition: 0.1s;
}
.poster .layer-1 {
  background-image: linear-gradient(rgba(0, 0, 0), rgb(19, 19, 19));
  border-radius: 256px;
}
.poster .layer-2 {
  background-image: url(images/1.png);
  border-radius: 256px;
}
.poster .layer-3 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(images/1.png);
  border-radius: 256px;
}
.poster .layer-4 {
  background-image: url(images/1.png);
  border-radius: 256px;
}
.poster .layer-5 {
  background-image: url(images/1.png);
  border-radius: 256px;
}
